backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
decorator==4.0.11
enum34==1.1.6
futures==3.2.0
ipykernel==4.8.2
ipython==5.5.0
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
matlab-kernel==0.15.1
metakernel==0.20.14
mistune==0.8.3
path.py==5.2
pathlib==1.0.1
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.7.3
pyxdg==0.25
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1
traitlets==4.3.2
wcwidth==0.1.7
pycairo==1.15.3
pyzmq==17.0.0
repoze.lru==0.4
